<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>favourites</ion-title>
     <ion-button fill="clear" slot="end" title="Home" routerLink="/home">
  <ion-icon name="home-outline" slot="icon-only"></ion-icon>
</ion-button>
  </ion-toolbar>
</ion-header>


<!-- ok this is bascially the only thing happening on the favourites page, it looks small but its doing a lot
 this is where show the stored data,
 so this data persists if you close down your browser. its pretty cool
 look in the favourites.page.ts and the service page favourites.ts for more details
 so we had to use the base url and add on the poster path for the image
 we have a for loop that calles each item in the faves array movie and then for each movie it
 gets the poster, the title and that is all. 
 it also has a button that send the whole movie object to the method in the ts, 
 which in turn sends the movie id to the data service and redirects the user to the 
 movie detials page
 
 added a title and a button to take you back home if the favourites is empty-->

<ion-content [fullscreen]="true">
  <ion-title *ngIf="faves.length === 0" >Please add some movies to favouites, 
    click the button to return home</ion-title>
  <ion-button routerLink="/home" *ngIf="faves.length === 0">Home</ion-button>
  <ion-card *ngFor="let movie of faves">
  <img style="width: 250px;" alt="{{ movie.title }} poster" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" />
  <ion-card-header>
    <ion-card-title>{{ movie.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-button (click)="goToMovie(movie)">Details</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
