<ion-header [translucent]="true">
  <ion-toolbar>
    <!--moved button to here-->
     <!--this is a favourites button. it's using a router link to send it to favourites and it's got a title which means
    when you hover over it, it says favourites. it's a star outline.-->
    <ion-title>{{ studentId }} - Rory's Movies</ion-title>
    <ion-button fill="clear" slot="end" title="Favourites" routerLink="/favourites">
      <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
    <!--this is a buttons tab, so you can chose between searching for movies or people 
    it calls a method called ontabchange and it also is linked to the field called tab
    so tab is updated depending on what is passed up from the buttons
    i added passing a field ie test to the ontabchange method ass it was not updating the 
    title properly. that seems to have fixed it-->

    <ion-segment [(ngModel)]="tab" [value]="tab" (ionChange)="onTabChange($event)" >
  <ion-segment-button value="Movies">
    <ion-label>Movies</ion-label>
  </ion-segment-button>
  <ion-segment-button value="People">
    <ion-label>People</ion-label>
  </ion-segment-button>
    </ion-segment>

 <!--note--- 
 the ion item contains a search bar and a favourites button.
     //this is an ionic input, the label is what the input is called and the place holder is what 
    // is shown on the search bar before anything is typed i moved the button to the tool bar not the search bar!!!!
 the the ngmodel links this input with search query. so what ever is typed 
 here is added to the search query on the home.ts page 
 added a keyup so that when enter is pressed it also searches. sick!! -->
  <ion-item>
    <ion-input label="Enter keyword here" placeholder="keyword" [(ngModel)]="searchQuery" (keyup.enter)="Search()"></ion-input>
  </ion-item>
  
<!--currently just a button that does nothing. i will link it to a method soon
method was added. look at search on home.ts

added  expand="full" to make the button go the full screen-->
  <ion-button expand="full" (click) = "Search()">Search</ion-button>

  <ion-title>{{title}}</ion-title>


  <!--when the page is first loaded it should display the trending movies so let's do that first
  ok so, we have an ngloop which is like a for loop.
  so i use the data taken from the movie service get trending method. 
  then i ask for the movie title and the movie release date. 
  the poster was a little harder as i had to find the base url
  which is different to the base url i used in the movies service page.
  now the interesting thing with this is both my ionview will enter method and my 
  search method use the same ioncard to show the movies.
  the ioc=n card just loops through the movies array,
  and the movie array is changed depending on what method has been ran
  
  -->
  

<div *ngIf="tab === 'Movies'">
<ion-card *ngFor="let movie of movies" (click) = "goToMovie(movie)">
  <img *ngIf="movie.poster_path" alt="{{ movie.title }} poster" src="https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}" />
  <p *ngIf="!movie.poster_path">No image</p>
  <ion-card-header>
    <ion-card-title>{{ movie.title }}</ion-card-title>
    <ion-card-subtitle>{{ movie.release_date }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    {{ movie.overview }}
  </ion-card-content>
</ion-card>
</div>

<div *ngIf="tab === 'People'">
 <ion-card *ngFor="let person of People" (click)="goToPerson(person)">
    <img *ngIf="person.profile_path" alt="{{ person.name }}" src="https://image.tmdb.org/t/p/w300/{{ person.profile_path }}" />
    <p *ngIf="!person.profile_path">No image</p>
    <ion-card-header>
      <ion-card-title>{{ person.name }}</ion-card-title>
    </ion-card-header>
</ion-card>
</div>

</ion-content>
