<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ studentId }} - Rory's Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input label="Enter movie keyword here" placeholder="keyword"></ion-input>
    <ion-button fill="clear" slot="end" title="Favourites" routerLink="/favourites">
      <ion-icon name="star-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-button>Search</ion-button>

</ion-content>
