<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ studentId }} - Rory's Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--the ion item contains a search bar and a favourites button.-->
    <!-- //this is an ionic input, the label is what the input is called and the place holder is what 
    // is shown on the search bar before anything is typed -->
     <!--this is a favourites button. it's using a router link to send it to favourites and it's got a title which means
    when you hover over it, it says favourites. it's a star outline.-->
  <ion-item>
    <ion-input label="Enter movie keyword here" placeholder="keyword" [(ngModel)]="searchQuery" (keyup.enter)="Search()"></ion-input>
    <ion-button fill="clear" slot="end" title="Favourites" routerLink="/favourites">
      <ion-icon name="star-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
  
<!--currently just a button that does nothing. i will link it to a method soon
method was added. look at search on home.ts-->
  <ion-button (click) = "Search()">Search</ion-button>


  <!--when the page is first loaded it should display the trending movies so let's do that first
  ok so, we have an ngloop which is like a for loop.
  so i use the data taken from the movie service get trending method. 
  then i ask for the movie title and the movie release date. 
  the poster was a little harder as i had to find the base url
  which is different to the base url i used in the movies service page.
  now the interesting thing with this is both my ionview will enter method and my 
  search method use the same ioncard to show the movies.
  the ioc=n card just loops through the movies array,
  and the movie array is changed depending on what method has been ran
  
  -->
  


<ion-card *ngFor="let movie of movies" (click) = "goToMovie(movie)">
  <img alt="{{ movie.title }} poster" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" />
  <ion-card-header>
    <ion-card-title>{{ movie.title }}</ion-card-title>
    <ion-card-subtitle>{{ movie.release_date }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{ movie.overview }}
  </ion-card-content>
</ion-card>


</ion-content>
